<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.luffy.mapper.CodeMapper" >
	<resultMap id="CodeMap" type="com.product.luffy.po.Code">
  		<id 	column="CD_ID" 				property="cdId"/>
  		<result column="CD_DTL_ID"			property="cdDtlId"/>
  		<result column="CD_VAL"				property="cdVal"/>
	</resultMap>
	
	<select id="selectCode" parameterType="map" resultMap="CodeMap">
		SELECT CD_ID, 
		       CD_DTL_ID, 
		       CD_VAL
		  FROM CD_DTL_F
		 WHERE CD_ID = #{cdId} 
		   AND CD_DTL_ID = #{cdDtlId};
	</select>
	
</mapper>
