<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.luffy.mapper.FileMapper">
    <resultMap id="FileMap" type="com.product.luffy.po.File">
        <id column="FILE_ID" property="fileId"/>
        <result column="FILE_NM" property="fileNm"/>
        <result column="FILE_EXT_NM" property="fileExtNm"/>
        <result column="FILE_SIZE" property="fileSize"/>
        <result column="FILE_PATH" property="filePath"/>
        <result column="FILE_AUTH_YN" property="fileAuthYn"/>
        <result column="REG_DTM" property="regDtm"/>
    </resultMap>

    <insert id="insertFile" parameterType="com.product.luffy.po.File">
        INSERT INTO `FILE_F`(`FILE_ID`,
        `FILE_NM`,
        `FILE_EXT_NM`,
        `FILE_SIZE`,
        `FILE_PATH`,
        `FILE_AUTH_CD`,
        `REG_DTM`)
        VALUES (#{fileId},
        #{fileNm},
        #{fileExtNm},
        #{fileSize},
        #{filePath},
        'ALL',
        NOW());
    </insert>

    <select id="selectFile" parameterType="map" resultMap="FileMap">
        SELECT FILE_ID,
        FILE_NM,
        FILE_EXT_NM,
        FILE_SIZE,
        FILE_PATH,
        REG_DTM
        FROM FILE_F
        WHERE FILE_ID = #{fileId}
    </select>

    <select id="selectFileAuthYn" parameterType="String" resultMap="FileMap">
        SELECT TRUE AS FILE_AUTH_YN
           FROM USER_NOTE_R UN
           INNER JOIN
              (SELECT D.NOTE_ID
                  FROM DIARY_F D
                  INNER JOIN FILE_F F
                  ON (D.FILE_ID = F.FILE_ID
                       AND F.FILE_ID = #{fileId}
                       AND F.FILE_AUTH_CD = 'PRI')) A
           ON (UN.NOTE_ID = A.NOTE_ID AND UN.USER_ID = #{userId})
        UNION ALL
        SELECT TRUE AS FILE_AUTH_YN
          FROM FILE_F
         WHERE FILE_ID = #{fileId} AND FILE_AUTH_CD = 'ALL'
    </select>

    <update id="updateFile" parameterType="com.product.luffy.po.File">
        UPDATE FILE_F
           SET FILE_AUTH_CD = #{fileAuthCd}
         WHERE FILE_ID = #{fileId}
    </update>
</mapper>
