<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.product.luffy.mapper.UserMapper" >
  
  <resultMap id="UserResultMap" type="com.product.luffy.po.User">
  	<id 	column="USER_ID" 	property="userId"/>
  	<result column="USER_NM"	property="userNm"/>
  	<result column="REG_DTM"    property="regDtm"/>
  </resultMap>
  
  <select id="selectUserList" resultMap="UserResultMap">
  	SELECT * FROM USER_F
  </select>
 
</mapper>
